.list {
  margin: 0;
  padding: 0;
  list-style:none;  
}

.item {
  display: grid;
  grid-template-columns: 260px 1fr;
  padding: 0 1em;
}

.item:nth-child(odd){
  background-color: darkslategrey;
}

.item a {
  color: inherit;
}

@media (max-width: 800px) {
  .item {
    grid-template-columns: 1fr;
  }

  .item .imgLink {
    display: flex;
    margin-right: -1em;
  }

  .item h2 {
    flex: 1 0;
  }
}

@media (max-width: 470px) {
  .imgLink {
    display: flex;
    flex-direction: column;
  }

  .item .imgLink {
    display: flex;
    margin-right: 0;
  }
}
