.title {
  box-sizing:border-box;
  background-color: #e4e4e4;
  padding: 0.2em 1.5em;
  margin:0;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  overflow:hidden;
  opacity: 0.8;
  color: #444;
  font-size:0.5em;
  text-align: center;
  transition: font-size 0.3s;
}

.titleText {
  transition: transform 0.2s;
  transform: scale(1, 1);
  display:block;
}

.menuItem:hover .titleText {
  transform: scale( 2.2, 1.2 );
  display:block;
}
